<!DOCTYPE html>
<html>

<head>
    <%- include('layout/head.ejs') %>
</head>

<body>

    <section class="hero is-info is-fullheight">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <header class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a href=<%=rou.home %> class="navbar-item">
                            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
                        </a>
                        <span class="navbar-burger has-text-white" data-target="navbarMenuHeroC">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenuHeroC" class="navbar-menu">
                        <div class="navbar-end">
                            <a href=<%=rou.home %> class="navbar-item">
                                Home
                            </a>
                            <span class="navbar-item">
                                <a href=<%=rou.home %> class="button is-info is-light">
                                    <span>
                                        <%= proverb %>
                                    </span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">

                <!--  -->
                <div class="columns">

                    <div class="column is-half">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>preview</th>
                                    <th>Link Photo</th>
                                    <th>Copy</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>preview</th>
                                    <th>Link Photo</th>
                                    <th>Copy</th>
                                </tr>
                            </tfoot>
                            <tbody id=select-item>
                                <tr class="">
                                    <td><a href="/images/<%= name %>">
                                            <img width="100" src="/images/<%= name %>" alt="<%= name %>">
                                        </a>
                                    </td>
                                    <td><a href="/images/<%= name %>">
                                            <%= rou.hostImage + name%>
                                        </a>
                                    </td>
                                    <td>
                                        <div id="tools">
                                            <span><a><i class="fa fa-copy"></i></a></span>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <!-- List Data -->
                    <div class="column is-half">
                        <!-- Search -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th><abbr title="Played">Size(KB)</abbr></th>
                                    <th><abbr title="Won">Format</abbr></th>
                                    <th><abbr title="Drawn">Date</abbr></th>
                                    <th>Tools</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th><abbr title="Played">Size(KB)</abbr></th>
                                    <th><abbr title="Won">Format</abbr></th>
                                    <th><abbr title="Drawn">Date</abbr></th>
                                    <th>Tools</th>
                                </tr>
                            </tfoot>
                            <tbody id=select-item>
                                <tr class="">
                                    <td><a>
                                            <%= name %>
                                        </a>
                                    </td>
                                    <td>
                                        <%= size %>
                                    </td>
                                    <td>
                                        <%= format %>
                                    </td>
                                    <td>
                                        <%= date %>
                                    </td>
                                    <td>
                                        <div id="tools">
                                            <span><a href="/images/<%= name %> "><i id="download"
                                                        class="fa fa-download"></i></a></span>
                                            <span><a href="?delete=<%= name %> "><i id="delete"
                                                        class="fa fas fa-trash-alt"></i></a></span>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!--  -->

            </div>
        </div>

        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">

        </div>
    </section>


</body>

</html>